body {
  margin: 0;
  padding: 0;
  background-color: #282d33;
  color: #08b558;
}

.field {
  display: table;
  border-collapse: collapse;
}

.field h2 {
  display: table-caption;
}

.field ul {
  display: table-row;
}

.field li {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid #08b558;
  text-align: center;
  vertical-align: middle;
}

.field header {
  display: table-header-group;
}

.column {
  display: table-column;
}

.column-group {
  display: table-column-group;
}

.row-group {
  display: table-row-group;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player,
.computer {
  flex-basis: auto;
  max-width: 500px;
}
